{% extends "base.html" %}
{% block content %}
    
    
        <form action="/editPatient/{{ patient_to_edit.id }}" method="POST">
          <h3 align="center">Edycja pacjenta</h3>
          <div class="form-group"></div>

          <div class="form-group">
            <label for="name">Imię</label>
            <input
              type="text"
              class="form-control"
              value={{patient_to_edit.name}}
              id="name"
              name="name"
              placeholder="Wpisz imię"
            />
          </div>
          <div class="form-group">
            <label for="sur_name">Nazwisko</label>
            <input
              type="text"
              class="form-control"
              value={{patient_to_edit.sur_name}}
              id="sur_name"
              name="sur_name"
              placeholder="Wpisz nazwisko"
            />
          </div>
          
          <div class="form-group">
            <label for="numer">Numer telefonu</label>
            <input
              type="text"
              class="form-control"
              value={{patient_to_edit.numer}}
              id="numer"
              name="numer"
              placeholder="Wpisz numer telefonu"
            />
          </div>
          <div class="form-group">
            <label for="numer">Notka</label>
            <label for="notka" class="form-label">Example textarea</label>
            <textarea class="form-control" id="notka" name="notka" rows="3"></textarea>
          </div>
          <br />
          <button type="submit" class="btn btn-primary">Zatwierdź</button>
        </form>
      
{% endblock %}
